@font-face {
    font-family: Menlo;
    src: url(../font/Menlo-Regular.ttf);
}

@font-face {
    font-family: Asap;
    src: url(../font/Asap-Regular.ttf);
}

html, body {
	height: 100%;
}

*:focus {
	outline: 0;
}

body {
	margin: 0;
	font-family: Asap;
	font-size: 14px;
	color: #fff;
	background: #000;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

::-webkit-scrollbar {
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

#menu {
	position: relative;
	width: 50px;
	height: 100%;
	float: left;
	border-right: 1px solid #000;
}

#menu .item {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0.3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
	border-radius: 5px;
}

#menu .item img {
	margin-left: 9px;
	margin-top: 9px;
}

#menu .item:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

#menu .item.current {
	background: rgba(255, 255, 255, 0.1);
	cursor: default;
}

#menu .item.disabled {
	opacity: 0.5;
}

#menu .item.disabled:hover {
	background: rgba(255, 255, 255, 0.3);
	opacity: 0.5;
	cursor: default;
}

.tab {
	height: 100%;
	float: left;
	position: relative;
	width: 230px;
	display: none;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	overflow: auto;
}

.tab .header {
	color: #fc0;
	padding: 10px;
	padding-bottom: 0px;
}

.tab .content {
	position: relative;
	padding: 10px;
}

.tab .resize {
	width: 2px;
	height: 100%;
	background: #333b49;
	position: absolute;
	top: 0px;
	right: 0px;
}

.tab .resize:hover {
	cursor: col-resize;
}

button {
	font-size: 14px;
	padding: 5px 10px;
	display: block;
	border-style: none;
	font-family: Asap;
	color: #fff;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
	border-radius: 5px;

	background: rgba(255, 255, 255, 0.3);
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

button:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

button:active {
	background: rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.drop {
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	border: 2px dashed rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	padding: 10px 10px;
	cursor: default;
}

input[type=text] {
	margin-bottom: 10px;
	background: rgba(255, 255, 255, 0.1);
	border-style: none;
	padding: 5px;
	color: #fff;
	width: 200px;
	border-radius: 5px;
}

input[type=checkbox] {
	float: left;
	display: block;
	margin-bottom: 10px;
}

label {
	clear: both;
	float: left;
	display: block;
	margin-bottom: 4px;
}

#modules button {
	background: transparent;
	color: #999;
	box-shadow: none;
	border-radius: 5px;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0px;
	padding-top: 0px;
	border: solid 2px black;
	text-transform: none;
}

#modules button:hover {
	background: #999;
}

#modules button:active {
	background: #999;
	color: #000;
}

#modules span {
	margin-left: 5px;
}

#modules .class {
	padding-left: 20px;
}

#modules .class.error {
	background: rgba(255, 0, 0, 0.3);
}

#modules .content div button {
	display: none;
}

.tab .content .list div {
	padding: 5px;
	border-radius: 5px;
}

.tab .content .list div:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.1);
	color: #fc0;
}

#projects .project.current {
	color: #ac4142;
}

#modules .module:hover {
	background: transparent;
}

#modules .class.changed {
	color: #f4bf75;
}

#modules div.current {
	color: #ac4142;
	background: rgba(255, 255, 255, 0.1);
}

#modules button {
	float: right;
}

#modules .module.current span {
	display: none;
}

#editor {
	background: #000;
	font-family: Menlo;
	padding: 0;
	border-style: none;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

#editor .errorHighlight{
  	position: absolute;
  	z-index: 20;
  	background-color: rgba(255, 0, 0, 0.3);
}

#loader {
	position: absolute;
	left: 9px;
	bottom: 9px;
	z-index: 9999;
	display: none;
	-webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
