@font-face {
    font-family: Menlo;
    src: url(../font/Menlo-Regular.ttf);
}

html, body {
	height: 100%;
}

*:focus {
	outline: 0;
}

body {
	margin: 0;
	font-family: Menlo;
	color: #fff;
	background: #000;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.tab {
	height: 100%;
	float: left;
	position: relative;
	overflow: auto;
}

.tab .content {
	height: 100%;
}

.tab .resize {
	width: 2px;
	height: 100%;
	background: #333;
	position: absolute;
	top: 0px;
	right: 0px;
}

.tab .resize:hover {
	cursor: col-resize;
}

#modules {
	width: 240px;
	line-height: 24px;
}

#modules .list {
	margin-right: 2px;
}

#modules .module {
	padding-left: 4px;
	color: #90a959;
}

#modules button {
	background: transparent;
	color: #999;
	box-shadow: none;
	border-radius: 5px;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0px;
	padding-top: 0px;
	border: solid 2px black;
	text-transform: none;
}

#modules button:hover {
	background: #333;
}

#modules button:active {
	background: #999;
	color: #000;
}

#modules span {
	margin-left: 5px;
}

#modules .class {
	padding-left: 25px;
}

#modules .list div:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.10);
}

#modules .class.changed {
	color: #f4bf75;
}

#modules .list div.current {
	color: #ac4142;
	background: rgba(255, 255, 255, 0.10);
}

#modules .list button {
	float: right;
}

#modules .module.current span {
	display: none;
}

#editor {
	width: 100%;
	position: absolute;
	margin-left: 0px;
	font-family: Menlo;
}

#loader {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 9999;
	display: none;
	-webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
